<main class="main" [@simpleFadeAnimation]="'in'">
    <div class="main__button-wrapper">
        <span class="spacer"></span>
        <button mat-raised-button color="primary" class="button" (click)="openDialog()">Добавить пост</button>
    </div>
    <div class="wrapper" *ngIf="isShowSpinner">
        <mat-spinner class="primary"></mat-spinner>
    </div>
    <div class="post-wrapper" *ngFor=" let post of posts; let i = index" (click)="redirectToPostPage(post)" >
        <span class="post-wrapper__order">{{i+1}}.</span>
        <span class="post-wrapper__title" >{{post.title}}</span>
    </div>
  
</main>