<form [formGroup]="popapForm" class="form" >
    <div mat-dialog-content class="input-wrapper">

        <mat-form-field>
          <input type="text" matInput  placeholder="Заголовок" formControlName="title">         
        </mat-form-field>
        <p *ngIf="popapForm.controls['title'].invalid && popapForm.controls['title'].touched" class="error">
           Пожалуйста, введите заголовок</p>
           <p class="error" *ngIf="popapForm.controls['title'].hasError('maxlength')">
            Длина заголовка не может превышать 40 символов
        </p>
        <mat-form-field>
          <input type="text" matInput  placeholder="Текст" formControlName="body">
        </mat-form-field>
        <p *ngIf="popapForm.controls['body'].hasError('required') && popapForm.controls['body'].touched" class="error">
          Пожалуйста, введите текст</p>
            <p class="error" *ngIf="popapForm.controls['body'].hasError('maxlength')">
              Длина текста не может превышать 50 символов
          </p>
        <mat-form-field>
          <input type="text" matInput  placeholder="UserId" formControlName="userId">
        </mat-form-field>
        <p *ngIf="popapForm.controls['userId'].hasError('required') && popapForm.controls['userId'].touched" class="error">
           Пожалуйста, введите id пользователя</p>
           <p class="error" *ngIf="popapForm.controls['userId'].hasError('pattern')">
            Id пользователя может быть только число
        </p>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Нет, спасибо</button>
        <button mat-button [mat-dialog-close]="data"  (click)="save(popapForm.value)" [disabled]="popapForm.invalid">Сохранить</button>
      </div>  
</form>
